.login-container{
    background: #d53369;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d53369, #cbad6d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d53369, #cbad6d);
  margin-top:0px;
  padding-top:0px;
  padding-top: 2%;
  padding-bottom:6%;

  flex-grow: 1;
}

.login-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-name-box, .login-pass-box{
    border:none;
    align-content:center;
    text-align:center;
    outline:none;
    width: 400px;
    height: 45px;
    margin: 10px;
    color: #7f8c8d;
    font-size:120%;
    border-radius:10px;
}

.login-container h3{
  text-align: center;
}

.login-button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}