.home{
    margin: 0px 0px 2px 0px;
    /* background-color: #80dee2; */
}

.home-post{
    color: white;
    text-decoration: none;
}
    .home-post:hover{
        text-decoration: underline;
    }

.home-main-img{
    position: relative;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.home-title, .home-post-title{
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
}

.home-container{
    max-width: 60rem;
    width: 100%;
    margin: auto;
    padding: 0% 2%;
    background-color: #80dee2;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}

.home-post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
    margin-bottom: 1rem;
}
    .home-post img {
        width: 100%;
        object-fit: cover;
    }