.login-container, .signup-container{
  margin:0px;
  padding:0px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form, .signup-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form div, .signup-container form div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-name-box, .login-pass-box, .signup-name-box, .signup-pass-box{
    border:none;
    align-content:center;
    text-align:center;
    outline:none;
    width: 16rem;
    max-width: 95%;
    height: 3rem;
    margin: 1rem;
    color: #7f8c8d;
    font-size:120%;
    border-radius:10px;
}

.login-container h3, .signup-container h3{
  text-align: center;
}

.login-button, .signup-button{
  border-radius:10px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ccc;
}
.login-button:hover, .signup-button:hover{
  background-color:#eee;
}
.login-button:active, .signup-button:active{
  background-color: #aaa;
}