.nav{
    background-color: #333;
    color: white;
    display: flex;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    justify-content: space-between;
}

.nav div{
    display: flex;
}

.nav-site-title{
    font-size: 2rem;
}

.nav a{
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav div div.active{
    background-color: #555;
}

.nav div div:hover{
    background-color: #777;
}

.nav-text{
    white-space:nowrap;
    overflow: hidden;
}