*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background: #d53369;
    background: -webkit-linear-gradient(to left, #d53369, #cbad6d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d53369, #cbad6d);

    margin: 0;
    padding: 0;
}